.Reports{
    background: #9ad9ea;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:4%;
    margin-left:10%;
    border-radius: 3%;
    height: 60%;
    width: 80%;
}

.ReportsList{
    text-align: left;
    padding: 5%;
    height:80%;
    width: 96%;
    margin:unset;
    position: fixed;
}

.ReportListElement{
    background-color: #cce6f7;
    text-align: left;
    font-size: xx-large;
    border-radius: 1rem;
    margin: 2%;
    padding: 0.75%;
    list-style-type: none;
    cursor: pointer;
}

.reportInfo{
    font-size: xx-large;
    background-color: #cce6f7;
    border-radius: 1rem;
    width: 60%;
    margin: auto;
}

.buttonVis{
    background-color:#5eb9f5;
    position: fixed;
    border-radius: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 24%;
}

.report{
    font-size: small;
}

.page{
    background-color: #cce6f7;
    text-align: center;
    font-size: large;
    border-radius: 1rem;
    padding: 0.30%;
    cursor: pointer;
    position: fixed;
    left: 53.8%;
    top:  75%;
}